// Zone grey & blue

.zone::before, .row::after {
  /* the 2 underneath colored sections */
  content: '';
  position: fixed;
  /* trick to remove some annoying flickering on webkit browsers */
  width: 89.8%;
  max-width: 1170px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  height: 50%;
  z-index: -1;
}

.zone::before {
  top: 0;
  background-color: $green !important;
  transition: all 0.8s;
}

.zone::after {
  top: 50%;
  background-color: $red !important;
}


// Images settings

.image {
  width: 184px;
  background-repeat: no-repeat;
}

.image-1 {
  @extend .image;
  height: 156px;
  background-image: url("../images/01cro.png");
}

.image-2 {
  @extend .image;
  height: 156px;
  background-image: url("../images/02platon.png");
  width: 184px;
}



// Filling

.fill-color {
  height: 150px;
  width: 184px;
}


.fill-gray {
  @extend .fill-color;
  background-color: $gray;
}

.fill-gray-space {
  @extend .fill-color;
  background-image: url("../images/00greyspace.png");
}

.fill-white {
  @extend .fill-color;
  background-color: $white;
}

.fill-white-space {
  @extend .fill-color;
  background-image: url("../images/00whitespace.png");
}

.gray {
  background-color: $gray;
}

.white {
  background-color: $white;
}

.gray-col {
  background-color: $gray;
  height: 456px;
}

.white-col {
  background-color: $white;
  height: 456px;
}
