.row-flexbox {
    display: flex;
    width: 100%;
}

.col-illustration {
  width: 184px;
}

.col-content {
  width: 776px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

  p {
    text-align: justify;
  }
}

.col-spacer {
  width: calc((100% - 960px)/2);
}
