@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Roboto:900);

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h2 {
  text-transform: uppercase;
  font-size: 5rem;
  color: $green;
  transition: all 1s;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 2rem;
}

.lower {
  text-transform: lowercase;
}
