.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.btn-partner {
  max-width: 150px;
  margin-top: 15px;
}

#doorbell-form .form-control {
color: #333;
}

.gold {
  color: #ffcc00;
}


.silver {
  color: $red;
}

.bronze {
  color: #CD7F32;
}

.blue {
  color: $green;
}
