header {
    height: 100vh;
}


.layer {
  height: 100vh;
  padding-top: 80px;
  background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.layer0 {
  @extend .layer;
  background-image:url("../images/layer0.png");
}

.layer1 {
  @extend .layer;
  background-image:url("../images/layer1.png");
}

.layer2 {
  @extend .layer;
  background-image:url("../images/layer2.png");
}

.layer3 {
  @extend .layer;
  background-image:url("../images/layer3.png");
}


.bloc-title {
  margin-top: 10vh;
  text-transform: uppercase;
  background-color: rgba($light-green, 0.9);
  padding: 30px;
  border-radius: 1000px;
  color: $red;
}

.title {
  font-size: 3rem;
}


.title-xs {
  font-size: 2.1rem;
}

.title-md {
  font-size: 4.8rem;
  font-weight: bold;
  margin-top: -8px;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 30px;
  margin-top: -2px;
}
