.logo {
  height: 40px;
}

.navbar {background-color: #fff;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { background-color: #fff;}
.collapsing, .in {background-color: #fff;}
.collapsing ul li a, .in ul li a {}
.collapsing ul li a:hover, .in ul li a:hover {}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border-color: #fff;
}


.navbar-default
{
	background-color: #fff;
}

.navbar-brand
{
	padding-top: 7px;
}

.topbutton
{
	margin-right: 15px;
}
