
.navbar {background-color: #fff;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { background-color: #fff;}
.collapsing ul li a, .in ul li a {}
.collapsing ul li a:hover, .in ul li a:hover {}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border-color: #fff;
}

.navbar-default
{
	background-color: #fff;
}

.navbar-brand
{
	padding-top: 7px;
}

.topbutton
{
	margin-right: 15px;
}


.normal {
height: 85px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.normal .navbar-right {
padding-top: 12px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.navbar-brand img {
max-height: 80px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.navbar-brand {
padding: 0px !important;
}



.shrink {

  height: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;


  .navbar-right {
  padding-top: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  }
  .navbar-brand img {
  max-height: 48px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  }

  .navbar-form-2 {
  margin-top: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  }

  .navbar-form {
  margin-top: 7px !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  }

}



.navbar-form-2
{
   margin-top: 4px;
   -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.normal .navbar-form
{
    margin-top: 1px;
   -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: $red;
}
