.social {
  background-color: $dark-red;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    margin-bottom: 40px;
  }
}

#map {
  height: 400px;
  width: 100%;
}


.surprise {
  height: 210px;
  padding: 20px;
  text-align: center;

  h3 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: 40px;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem;
  }
}

.surprise-1 {
  background: url(../images/speaker.png);
  background-size: cover;
  color: $gray-dark;
}

.surprise-2 {
  background: url(../images/after_party.png);
  background-size: cover;
  color: $white;
}

.suprise-col-1 {
  padding-right: 7.5px;
}

.suprise-col-2 {
  padding-left: 7.5px;
}


.partners {
  h3 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: 40px;
    padding-bottom: 7px;
    border-bottom: 3px solid;
  }
}

@media (max-width: $screen-xs-max) {
  .suprise-col-1 {
    padding-right: 15px;
  }

  .suprise-col-2 {
    padding-left: 15px;
  }

}



footer {
  background-color: $gray-darker;

  color: $gray-light;

  p {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
  }

  h3 {
    font-size: 16px;
  }

  li
  {
 	 list-style-type:none;
  }

  .links
  {
 	margin-top: 20px;
  }

  ul
  {
  	padding-left: 0px;
  }

  li a, a,  a:focus
  {
 	font-size: 14px;
 	color: $gray-lighter;
  text-decoration: none;
  }

  a:hover, a:active
  {
 	color: $red;
 	text-decoration: none;
  }

  .copyright {
    padding-top: 120px;
  }


}



.no-crop {
  height: 600px;
}

.coach {
  height: 210px;
  padding: 20px;
  text-align: center;

  h3 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: 210px;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  a {
    margin-top: 10px;
  }
}

.coach-1 {
  background: url(../images/coach1.jpg);
  background-size: cover;
  color: $gray-dark;
}

.coach-2 {
  background: url(../images/coach2.jpg);
  background-size: cover;
  color: $gray-dark;
}

.coach-3 {
  background: url(../images/coach3.jpg);
  background-size: cover;
  color: $gray-dark;
}
