.social {
  background-color: $gray-dark;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    margin-bottom: 40px;
  }
}

#map {
  height: 400px;
  width: 100%;
}

footer {
  background-color: $gray-darker;
}
